<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parser" class="org.tarasov.Parser">
        <constructor-arg type="String" value="C:\\Users\\tarasov.a\\Desktop\\files\\"/>
        <constructor-arg ref="colorResolver"/>
        <constructor-arg ref="excelReader"/>
    </bean>

    <bean id="colorResolver" class="org.tarasov.ColorResolver">
        <constructor-arg type="String" value="C:\\Users\\tarasov.a\\Desktop\\parser\\patterns.xls"/>
    </bean>

    <bean id="excelReader" class="org.tarasov.ExcelReader">
        <constructor-arg type="int" value="0"/>
    </bean>

</beans>